.volunteers-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.volunteers-table th,
.volunteers-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 4px;
  font-size: 14px;
}

.volunteers-table img {
  width: 100%;
  max-width: 60px;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .volunteers-table,
  .volunteers-table thead,
  .volunteers-table tbody,
  .volunteers-table th,
  .volunteers-table td,
  .volunteers-table tr {
    display: block;
  }

  .volunteers-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .volunteers-table tr {
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }

  .volunteers-table td {
    border: none;
    position: relative;
    padding-left: 10px;
    text-align: left;
  }

  .volunteers-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }

  .volunteers-table td .button-margin {
    margin-right: 8px;
  }

  .volunteers-table img {
    max-width: 40px;
  }
}

.volunteers-table td .button-margin {
  margin-right: 8px;
}

.edit-textfield-margin {
  margin-right: 8px;
  margin-bottom: 8px;
}

.new-volunteer-form {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.new-volunteer-form input {
  flex-grow: 1;
  min-width: 100px;
  margin-right: 8px;
}

@media (max-width: 1000px) {
  .new-volunteer-form {
    flex-direction: column;
    text-align: left; 
    grid-template-columns: 1fr;
  }

  .new-volunteer-form input {
    width: 100%;
    margin-right: 0;
  }

  .new-volunteer-form button {
    width: 100%;
  }
}